@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../components/assets/Images/wallpaper.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  .sum {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;

    h1 {
      color: rgb(29, 29, 141);
      cursor: pointer;
      margin: 0;
    }

    span {
      color: blue;
      font-weight: bold;
      font-size: 1.2em;
    }
    a {
      color: rgb(29, 29, 141);
      padding: 1em 2em;
      text-decoration: none;
      font-size: 1.2em;
    }
  }

  nav a:hover {
    background-color: rgb(241, 154, 120);
    color: #333;
  }
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;

    .name {
      color: rgb(245, 8, 8);
      font-size: 3em;
      font-weight: bold;
      margin-top: -2em;
    }

    label {
      color: orangered;
    }

}

li {
  list-style: none;
}

h1 {
  font-size: 2.3em;
  color: rgb(218, 56, 28);
  margin-top: 1em;
}


