* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.contact-container {
 
  display: grid;
  color: rgb(255, 123, 0);
  background-color: white;
  padding: 0.8em 2.5em;
  border-radius: 1em;
  position: absolute;
  top: 20px;
  left: 450px;

  form{
    width: 70%;
      bottom:100px;


     div{
    margin: 0.5em;
    text-align: left;
    display: flex;
    flex-direction: column;

  input, select {
    margin-top: 0.2em;
    padding: 0.6em;
    width: 400px;
    font-size: 0.9em;
    background-color: rgb(252, 201, 135);
    border: none;
    border-radius: 0.7em;
    color: darkred;
  }
  input:focus{
    background-color: darksalmon;
  }

  input:hover{
    background-color: darksalmon;
  }


  }

  button {
    cursor: pointer;
    padding: 0.8em 11.5em;
    margin-top: 0.2em;
    background-color:red;
    color: white;
    border-radius: 0.5em;
    border: none;
    font-size: 1em;
  }

  button:hover {
    background-color: darkorange;
    color: white;
  }

  p{
    color: red;
    font-size: 0.8em;
  }
  }

 
}
