*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 0;
    color: white;
    font-size: 1em;
  }

  .item {
    display: flex;

    .ul {
      display: flex;
      margin: 0 1.2em;
    }

    li{
        margin: 0 .8em;

        a {
            text-decoration: none;
        }
    }
  }
}
